{% extends 'template.html' %}
{% load thumbnail %}

{% block banners %}
<div class="correcaminosEncabezado encabezado">
    <div class="row encabezadoRow">
        <div class="correcaminosColor colorXX"></div>
        <h3>{{principal.seccion}}</h3>
    </div>
</div>
{% endblock %}

<!--main-->
{% block contenido %}
    <!--entrys-->
    <div class="medium-12 large-8 columns ">

		{% if principal %}
		<!--entry PRINCIPAL-->
		<div class="small-12 columns">
			<div class="row">
				{% thumbnail principal.imagen "750x437" crop="center" as im %}
	              	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
	          	{% endthumbnail %}  
				<h3><a class="aBlack" href="/entrada/{{principal.id}}">{{principal.titulo}}</a></h3>
				<div class="por">por <b>{{principal.quienescribe}}</b> {{principal.fecha|date:"DATETIME_FORMAT"}} <span class="depLoc">{{estelar.seccion}}</span></div>
				<div class="br"> 
					<p>{{ principal.contenido|truncatewords_html:60 }}</p>					
					<span>
						<a class="entryMasBtn" href="/entrada/{{principal.id}}">Leer Mas...</a>
					</span>					
				</div>
				<hr>
			</div>
		</div>			
		{% endif %}

        <!--entry-->
        <input type="hidden" name="pagina" id="pagina" value="1">
        <input type="hidden" name="seccion" id="seccion" value="{{idseccion}}">
        <input type="hidden" name="total_paginas" id="total_paginas" value="{{total_paginas}}">        
        <div id="seccion_noticias"></div>
        <button type="button" class="large-12" id="btn_mas_noticias" onclick="mas_noticias();">Mas Noticias</button>

    </div>
{% endblock %}

{% block script %}
<script>
    function mas_noticias(){
        $.get("/seccion_noticias/"+$("#seccion").val()+'/'+$("#pagina").val(),function(data){
            $("#seccion_noticias").append(data);
            $("#pagina").val(parseInt($("#pagina").val())+1);       
            if($("#total_paginas").val()<$("#pagina").val()){
                $("#btn_mas_noticias").remove();
            }   
        });
        
    }
    mas_noticias();
</script>
{% endblock %}