{% extends 'administracion/template.html' %} {% load thumbnail %}
<!-- Publicidad -->
{% block contenido %}
<div class="span5">
	<div class="hero-unit" id="formulario">          
	</div>
</div>
<div class="span7">
	<div class="hero-unit">  
        <div class="span6">
        	<caption>Publicidad</caption>
        </div>
        <div class="" id="tabla_publicidad"></div> 
		<hr>                 
    </div>        
</div>

{% endblock %}

{% block script %}
<script>   
	$("#formulario").load("/frmpublicidad/");
    $("#item_noticias").removeClass("active"); 
    $("#item_publicidad").addClass("active");
    $("#tabla_publicidad").load("/tabla_publicidad");
    function getPublicidad(id){
      $("#formulario").load("/frmpublicidad/?id="+id);
    }  
    function eliminaPublicidad(id){
        $.get("/publicidad_delete/?id="+id,function(){
            $("#tabla_publicidad").load("/tabla_publicidad");
        });

    }    
</script>    
{% endblock %}  